{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_disealytics/optional-inputs-view

    Template purpose and description.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * viewname
    * title

    Example context (json):
    {
        "viewname": "activity-view",
        "title": "Activity"
    }
}}
{{#editmode}}
    <div class="block_disealytics-editing block_disealytics-editing-{{viewname}}"
         data-container="block_disealytics/editing-{{viewname}}">
        <svg id="{{viewname}}-editing-icon" class="editing-icon" width="47" height="44" viewBox="0 0 47 44" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M45.6506 22C45.6506 33.7086 35.7707 43.25 23.5206 43.25C11.2706 43.25 1.39062 33.7086 1.39062 22C1.39062 10.2914 11.2706 0.75 23.5206 0.75C35.7707 0.75 45.6506 10.2914 45.6506 22Z"
                  stroke="#0f6cbf" stroke-width="1.5"/>
            <path d="M33.4807 21.9999H29.7184L26.8967 29.9796L21.253 14.02L18.4313 21.9999H14.6689" stroke="#0f6cbf" stroke-width="1.5" stroke-linecap="square"
                  stroke-linejoin="round"/>
            <path d="M35.6575 32.6539H11.4316V11.3447" stroke="#0f6cbf" stroke-width="2" stroke-linecap="round"/>
        </svg>
        <h1 class="editing-headline">{{title}}</h1>
        <a class="dashboard-button block_disealytics-open-delete-modal block_disealytics_remove_modal_{{viewname}}">
            <i class="text-danger fa fa-times"></i>
        </a>
    </div>
{{/editmode}}
{{#viewmode}}
    <div id="block_disealytics-panel-{{viewname}}" class="block_disealytics panel panel-info view block_disealytics-panel-{{viewname}}">

        <div class="panel-heading">
            <div class="flex-container">
                <h1 id="title"><span class="show-when-expanded"><a
                        style="cursor: pointer; text-decoration: none"
                        class="show-when-expanded hide-when-editing expandable block_disealytics-toggle-expansion-btn block_disealytics-toggle-expansion-btn-{{viewname}}"
                        data-action="block_disealytics/expand-{{viewname}}"
                        data-actiontype="block_disealytics/toggle-expansion"><i
                        style="cursor: pointer; text-decoration: none" class="fa fa-arrow-left"></i>
            </a></span>{{title}}</h1>
                <div class="navigation-icons">
                    {{^isexpanded}}
                        <a id="block_disealytics_{{viewname}}_info_btn" class="dashboard-button">
                            <i class="fa fa-question"></i>
                        </a>
                    {{/isexpanded}}
                    {{#isexpanded}}
                        <a id="block_disealytics_{{viewname}}_info_btn_expanded" class="dashboard-button">
                            <i class="fa fa-question"></i>
                        </a>
                    {{/isexpanded}}
                </div>
            </div>
        </div>
    {{#viewmode_module}}
        <div class="panel-body">
        {{^nodata}}
                <p>{{datadate}}</p>
                <p>{{#str}}activity_view_axislabel_y, block_disealytics{{/str}}
                <p>{{#str}}activity_view_main_axislabel_x, block_disealytics{{/str}}
                    {{#maincharts}}  {{> core/chart }} {{/maincharts}}
            </div>

                <div class="block_disealytics-expandable block_disealytics-expandable-{{viewname}}" data-container="block_disealytics/expandable-{{viewname}}">
                    <p>{{#str}}activity_view_axislabel_y, block_disealytics{{/str}}
                    <p>{{#str}}activity_view_detail_axislabel_x, block_disealytics{{/str}}
                        {{#detailcharts}}  {{> core/chart }} {{/detailcharts}}
                </div>
        {{/nodata}}
        {{#nodata}}
                <p>{{#str}}nodata, block_disealytics{{/str}}</p>
        {{/nodata}}
        </div>
    {{/viewmode_module}}
    {{#viewmode_halfyear}}
        <div id="block_disealytics-panel-{{viewname}}" class="block_disealytics panel panel-info view block_disealytics-panel-{{viewname}}">
        {{^nodata}}
            {{#outputs}}
                    <div class="panel-body">
                        <div class="course-category-header-container accordion-head-course-category-{{viewname}} flex-container">
                            <span id="title">{{coursename}}</span>
                            <i class="fa fa-chevron-up course-category-icon course-category-icon-{{viewname}}" data-coursename="{{coursename}}"></i>
                        </div>
                        <p>{{datadate}}</p>
                        <p>{{#str}}activity_view_axislabel_y, block_disealytics{{/str}}
                        <p>{{#str}}activity_view_main_axislabel_x, block_disealytics{{/str}}
                            {{#maincharts}}  {{> core/chart }} {{/maincharts}}
                    </div>
                    <div class="block_disealytics-expandable block_disealytics-expandable-{{viewname}}" data-container="block_disealytics/expandable-{{viewname}}">
                        <p>{{#str}}activity_view_axislabel_y, block_disealytics{{/str}}
                        <p>{{#str}}activity_view_detail_axislabel_x, block_disealytics{{/str}}
                            {{#detailcharts}}  {{> core/chart }} {{/detailcharts}}
                    </div>
            {{/outputs}}
        {{/nodata}}
        {{#nodata}}
                <p>{{#str}}nodata, block_disealytics{{/str}}</p>
        {{/nodata}}
    {{/viewmode_halfyear}}
    {{#viewmode_global}}
            <div class="panel-body">
                <div class="categories-container">
                    <div class="course-category-global">
                        {{#categories}}
                            <button class="course-category-global-item-{{viewname}} course-category-global-item {{#selected}}selected{{/selected}}">
                                {{name}}
                            </button>
                        {{/categories}}
                    </div>
                </div>
                {{^nodata}}
                    {{#outputs}}
                        <div class="course-category-header-container accordion-head-course-category-{{viewname}} flex-container">
                            <span id="title">{{coursename}}</span>
                            <i class="fa fa-chevron-up course-category-icon course-category-icon-{{viewname}}" data-coursename="{{coursename}}"></i>
                        </div>
                        <p>{{datadate}}</p>
                        <p>{{#str}}activity_view_axislabel_y, block_disealytics{{/str}}
                        <p>{{#str}}activity_view_main_axislabel_x, block_disealytics{{/str}}
                            {{#maincharts}}  {{> core/chart }} {{/maincharts}}

                        <div class="block_disealytics-expandable block_disealytics-expandable-{{viewname}}" data-container="block_disealytics/expandable-{{viewname}}">
                            <p>{{#str}}activity_view_axislabel_y, block_disealytics{{/str}}
                            <p>{{#str}}activity_view_detail_axislabel_x, block_disealytics{{/str}}
                                {{#detailcharts}}  {{> core/chart }} {{/detailcharts}}
                        </div>
                    {{/outputs}}
                {{/nodata}}
                {{#nodata}}
                    <p>{{#str}}nodata, block_disealytics{{/str}}</p>
                {{/nodata}}
            </div>
    {{/viewmode_global}}

    {{> block_disealytics/bottom_navigation }}
    </div>
{{/viewmode}}

{{#js}}
    require(['block_disealytics/add_interaction'], function(addInteraction) {
    addInteraction.init("{{viewname}}");
    });
{{/js}}
