{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_disealytics/assignment-view

    Template purpose and description.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * viewname
    * title

    Example context (json):
    {
        "viewname": "assignment-view",
        "title": "Assignments"
    }
}}
{{#editmode}}
    <div class="block_disealytics-editing block_disealytics-editing-{{viewname}}"
         data-container="block_disealytics/editing-{{viewname}}">
        <svg id="{{viewname}}-editing-icon" class="editing-icon" width="47" height="44" viewBox="0 0 47 44" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M45.6135 22C45.6135 33.7086 35.7336 43.25 23.4835 43.25C11.2335 43.25 1.35352 33.7086 1.35352 22C1.35352 10.2914 11.2335 0.75 23.4835 0.75C35.7336 0.75 45.6135 10.2914 45.6135 22Z"
                  stroke="#0f6cbf" stroke-width="1.5"/>
            <rect x="11.0029" y="9" width="26" height="25" fill="#0f6cbf"/>
            <path d="M14.1211 21.5H30.1357" stroke="white" stroke-width="2" stroke-linecap="round"/>
            <path d="M14.1211 13.8076H30.1357" stroke="white" stroke-width="2" stroke-linecap="round"/>
            <path d="M33.8828 13.8076H34.9228" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
            <path d="M33.8828 21.5H34.9228" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
            <path d="M33.8828 29.1924H34.9228" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
            <path d="M14.1211 29.1924H30.1357" stroke="white" stroke-width="2" stroke-linecap="round"/>
        </svg>
        <h1 class="editing-headline">{{title}}</h1>
        <a class="dashboard-button block_disealytics_remove_modal_{{viewname}}">
            <i class="text-danger fa fa-times"></i>
        </a>
    </div>
{{/editmode}}
{{#viewmode}}
<div id="block_disealytics-panel-{{viewname}}" class="block_disealytics panel panel-info view block_disealytics-panel-{{viewname}}">

    <div class="panel-heading">
        <div class="flex-container">
            <h1 id="title"><span class="show-when-expanded"><a
                    style="cursor: pointer; text-decoration: none"
                    class="show-when-expanded expandable block_disealytics-toggle-expansion-btn block_disealytics-toggle-expansion-btn-{{viewname}}"
                    data-action="block_disealytics/expand-{{viewname}}"
                    data-actiontype="block_disealytics/toggle-expansion"><i
                    style="cursor: pointer; text-decoration: none" class="fa fa-arrow-left"></i>
            </a></span>{{title}}</h1>
            <div class="navigation-icons">
                {{^isexpanded}}
                    <a id="block_disealytics_{{viewname}}_info_btn" class="dashboard-button">
                        <i class="fa fa-question"></i>
                    </a>
                {{/isexpanded}}
                {{#isexpanded}}
                    <a id="block_disealytics_{{viewname}}_info_btn_expanded" class="dashboard-button">
                        <i class="fa fa-question"></i>
                    </a>
                {{/isexpanded}}
            </div>
        </div>
    </div>
{{#viewmode_module}}
        <div class="panel-body hide-when-expanded">
            {{#table}}
                <table class="table-of-assignments">
                    <tr>
                        <th>{{assignstring}}</th>
                        <th>{{submitstring}}</th>
                    </tr>

                    {{#table_elements_first_three}}
                        <tr>
                            <td>{{{html_a}}}</td>
                            <td style="text-align: center">{{{status}}}</td>
                        </tr>
                    {{/table_elements_first_three}}
                    {{#table_elements_fourth_assign}}
                        <tr class="fourth_assignment">
                            <td>{{name}}</td>
                            <td>{{{status}}}</td>
                        </tr>
                    {{/table_elements_fourth_assign}}
                </table>
            {{/table}}

            {{#nodata}}
                <p>{{info}}</p>
            {{/nodata}}
        </div>
        <div class="block_disealytics-expandable block_disealytics-expandable-{{viewname}}" data-container="block_disealytics/expandable-{{viewname}}">
            {{#table_elements_first_three}}{{/table_elements_first_three}}

            {{#table}}
                <table class="table-of-assignments">
                    <tr>
                        <th>{{assignstring}}</th>
                        <th>{{submitstring}}</th>
                    </tr>
                    {{#table_elements_all}}
                        <tr>
                            <td>{{{html_a}}}</td>
                            <td>{{{status}}}</td>
                        </tr>
                    {{/table_elements_all}}

                </table>
            {{/table}}
        </div>
    {{> block_disealytics/bottom_navigation }}
    </div>
{{/viewmode_module}}
{{#viewmode_halfyear}}
    {{#tables}}
            <button class="course-category-header-container accordion-head-course-category-{{viewname}} flex-container hide-when-expanded">
                <span id="title">{{coursename}}</span>
                <i class="fa fa-chevron-up course-category-icon course-category-icon-{{viewname}}" data-coursename="{{coursename}}"></i>
            </button>
            <div class="hidden panel-body hide-when-expanded">
                <div class="master-table-of-assignments">
                    <table class="table-of-assignments" data-coursename="{{coursename}}">
                        <tr>
                            <th>{{assignstring}}</th>
                            <th>{{submitstring}}</th>
                        </tr>
                        {{#first_three}}
                            <tr>
                                <td>{{{html_a}}}</td>
                                <td>{{{status}}}</td>
                            </tr>
                        {{/first_three}}
                        {{#table_elements_fourth_assign}}
                            <tr class="fourth_assignment">
                                <td>{{name}}</td>
                                <td>{{{status}}}</td>
                            </tr>
                        {{/table_elements_fourth_assign}}
                    </table>
                </div>
            </div>
        {{/tables}}

        <div class="block_disealytics-expandable block_disealytics-expandable-{{viewname}}" data-container="block_disealytics/expandable-{{viewname}}">

            {{#tables}}

                <table class="table-of-assignments" data-coursename="{{coursename}}">
                    <div class="course-category-header-container accordion-head-course-category-{{viewname}} flex-container">
                        <span id="title">{{coursename}}</span>
                        <i class="fa fa-chevron-up course-category-icon course-category-icon-{{viewname}}" data-coursename="{{coursename}}"></i>
                    </div>
                    <tr>
                        <th>{{assignstring}}</th>
                        <th>{{submitstring}}</th>
                    </tr>
                    {{#first_three}}
                        <tr>
                            <td>{{{html_a}}}</td>
                            <td>{{{status}}}</td>
                        </tr>
                    {{/first_three}}
                    {{#after_first_three}}
                        <tr>
                            <td>{{{html_a}}}</td>
                            <td>{{{status}}}</td>
                        </tr>
                    {{/after_first_three}}
                </table>

            {{/tables}}
        </div>
        {{^data_in_course}}
            <p>{{#str}}assignment_view_no_assignments_available, block_disealytics{{/str}}</p>
        {{/data_in_course}}
        {{#data_in_course}}
            {{> block_disealytics/bottom_navigation }}
        {{/data_in_course}}
    </div>

{{/viewmode_halfyear}}
{{#viewmode_global}}
        <div class="categories-container">
            <div class="course-category-global">
                {{#categories}}
                    <button class="course-category-global-item-{{viewname}} course-category-global-item {{#selected}}selected{{/selected}}">
                        {{name}}
                    </button>
                {{/categories}}
            </div>
        </div>
        {{#tables}}
            <button class="course-category-header-container accordion-head-course-category-{{viewname}} flex-container hide-when-expanded">
                <span id="title">{{coursename}}</span>
                <i class="fa fa-chevron-up course-category-icon course-category-icon-{{viewname}}" data-coursename="{{coursename}}"></i>
            </button>
            <div class="hidden panel-body hide-when-expanded">
                <div class="master-table-of-assignments">
                    <table class="table-of-assignments" data-coursename="{{coursename}}">
                        <tr>
                            <th>{{assignstring}}</th>
                            <th>{{submitstring}}</th>
                        </tr>
                        {{#first_three}}
                            <tr>
                                <td>{{{html_a}}}</td>
                                <td>{{{status}}}</td>
                            </tr>
                        {{/first_three}}
                        {{#table_elements_fourth_assign}}
                            <tr class="fourth_assignment">
                                <td>{{name}}</td>
                                <td>{{{status}}}</td>
                            </tr>
                        {{/table_elements_fourth_assign}}
                    </table>
                </div>
            </div>
        {{/tables}}
        <div class="block_disealytics-expandable block_disealytics-expandable-{{viewname}}" data-container="block_disealytics/expandable-{{viewname}}">

            <div class="master-table-of-assignments">
                {{#tables}}

                    <table class="table-of-assignments" data-coursename="{{coursename}}">
                        <button class="course-category-header-container accordion-head-course-category-{{viewname}} flex-container hide-when-expanded">
                            <i class="fa fa-chevron-up course-category-icon course-category-icon-{{viewname}}" data-coursename="{{coursename}}"></i>
                        </button>
                        <span id="title">{{coursename}}</span>
                        <tr>
                            <th>{{assignstring}}</th>
                            <th>{{submitstring}}</th>
                        </tr>
                        {{#first_three}}
                            <tr>
                                <td>{{{html_a}}}</td>
                                <td>{{{status}}}</td>
                            </tr>
                        {{/first_three}}
                        {{#after_first_three}}
                            <tr>
                                <td>{{{html_a}}}</td>
                                <td>{{{status}}}</td>
                            </tr>
                        {{/after_first_three}}
                    </table>

                    <a style="cursor: pointer; display:block; margin-top: 1em"
                       class="more-assignments hide-when-expanded block_disealytics-show-more-btn block_disealytics-show-more-btn-{{viewname}} hide-when-editing">
                    <span class="show-more-assignments" data-coursename="{{coursename}}">
                        ...
                    </span>
                        <span class="show-less-assignments hidden">
                            {{#str}}assignment_view_load-less-assignments, block_disealytics{{/str}}
                        </span>
                    </a>
                {{/tables}}
            </div>
        </div>

        {{^data_in_course}}
            <p>{{#str}}assignment_view_no_assignments_available, block_disealytics{{/str}}</p>
        {{/data_in_course}}
        {{#data_in_course}}
            {{> block_disealytics/bottom_navigation }}
        {{/data_in_course}}
    </div>
{{/viewmode_global}}
{{/viewmode}}

{{#js}}
    require(['block_disealytics/add_interaction'], function(addInteraction) {
    addInteraction.init("{{viewname}}");
    });
{{/js}}