{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_disealytics/help_modal

    Template purpose and description.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {

    }
}}
<div id="block_disealytics_info-modal-accordion" class="block_disealytics">
    <div class="accordion-head flex-container">
        <h4 style="color: var(--diseablue)">{{#str}}main_help_views_title, block_disealytics {{/str}}</h4>
        <i id="icon-1" class="fa fa-chevron-down accordion-icon"></i>
    </div>
    <div class="accordion-content" id="content-1">
        <p>{{#str}}main_help_views_summary, block_disealytics {{/str}}</p>
    </div>
    <div class="accordion-head flex-container">
        <h4 style="color: var(--diseablue)">{{#str}}main_help_viewmodes_title, block_disealytics {{/str}}</h4>
        <i id="icon-2" class="fa fa-chevron-down accordion-icon"></i>
    </div>
    <div class="accordion-content" id="content-2">
        <p>{{#str}}main_help_viewmodes_summary, block_disealytics {{/str}}</p>
    </div>
    <div class="accordion-head flex-container">
        <h4 style="color: var(--diseablue)">{{#str}}main_help_add_remove_title, block_disealytics {{/str}}</h4>
        <i id="icon-3" class="fa fa-chevron-down accordion-icon"></i>
    </div>
    <div class="accordion-content" id="content-3">
        <p>{{#str}}main_help_add_remove_summary, block_disealytics {{/str}}</p>
    </div>
    <div class="accordion-head flex-container">
        <h4 style="color: var(--diseablue)">{{#str}}main_help_edit_title, block_disealytics {{/str}}</h4>
        <i id="icon-4" class="fa fa-chevron-down accordion-icon"></i>
    </div>
    <div class="accordion-content" id="content-4">
        <p>{{#str}}main_help_edit_summary, block_disealytics {{/str}}</p>
    </div>
    <div class="accordion-head flex-container">
        <h4 style="color: var(--diseablue)">{{#str}}main_help_functionality_title, block_disealytics {{/str}}</h4>
        <i id="icon-5" class="fa fa-chevron-down accordion-icon"></i>
    </div>
    <div class="accordion-content" id="content-5">
        <p>{{#str}}main_help_functionality_summary, block_disealytics {{/str}}</p>
    </div>
    <hr>
    <div class="accordion-head flex-container">
        <h4 style="color: var(--disea-greyish)">{{#str}}assignment-view, block_disealytics {{/str}}</h4>
        <i id="icon-6" class="fa fa-chevron-down accordion-icon"></i>
    </div>
    <div class="accordion-content" id="content-6">
        <p>{{#str}}main_help_assignment-view, block_disealytics {{/str}}</p>
    </div>
    <div class="accordion-head flex-container">
        <h4 style="color: var(--disea-greyish)">{{#str}}activity-view, block_disealytics {{/str}}</h4>
        <i id="icon-7" class="fa fa-chevron-down accordion-icon"></i>
    </div>
    <div class="accordion-content" id="content-7">
        <p>{{#str}}main_help_activity-view, block_disealytics {{/str}}</p>
    </div>
    <div class="accordion-head flex-container">
        <h4 style="color: var(--disea-greyish)">{{#str}}learning-goals-view, block_disealytics {{/str}}</h4>
        <i id="icon-8" class="fa fa-chevron-down accordion-icon"></i>
    </div>
    <div class="accordion-content" id="content-8">
        <p>{{#str}}main_help_learning-goals-view, block_disealytics {{/str}}</p>
    </div>
    <div class="accordion-head flex-container">
        <h4 style="color: var(--disea-greyish)">{{#str}}planner-view, block_disealytics {{/str}}</h4>
        <i id="icon-9" class="fa fa-chevron-down accordion-icon"></i>
    </div>
    <div class="accordion-content" id="content-9">
        <p>{{#str}}main_help_planner-view, block_disealytics {{/str}}</p>
    </div>
    <div class="accordion-head flex-container">
        <h4 style="color: var(--disea-greyish)">{{#str}}progress-bar-view, block_disealytics {{/str}}</h4>
        <i id="icon-10" class="fa fa-chevron-down accordion-icon"></i>
    </div>
    <div class="accordion-content" id="content-10">
        <p>{{#str}}main_help_progress-bar-view, block_disealytics {{/str}}</p>
    </div>
    <div class="accordion-head flex-container">
        <h4 style="color: var(--disea-greyish)">{{#str}}study-progress-view, block_disealytics {{/str}}</h4>
        <i id="icon-11" class="fa fa-chevron-down accordion-icon"></i>
    </div>
    <div class="accordion-content" id="content-11">
        <p>{{#str}}main_help_study-progress-view, block_disealytics {{/str}}</p>
    </div>
    <div class="accordion-head flex-container">
        <h4 style="color: var(--disea-greyish)">{{#str}}success-chance-view, block_disealytics {{/str}}</h4>
        <i id="icon-12" class="fa fa-chevron-down accordion-icon"></i>
    </div>
    <div class="accordion-content" id="content-12">
        <p>{{#str}}main_help_success-chance-view, block_disealytics {{/str}}</p>
    </div>
</div>