{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_disealytics/learning_material_add_inputs

    Template purpose and description.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {

    }
}}
<div class="block_disealytics">
    <div class="add-learning-material-container" style="margin-top:8px;">
        <h5>{{#str}}learning_material_document, block_disealytics {{/str}}</h5>
        <label for="learning-material-document"></label>
        <select id="learning-material-document" class="text-small">
            <option data-documentselected="0">{{#str}}learning_material_no_selection, block_disealytics {{/str}}</option>
            {{#file_names}}
                <option data-documentselected="1">{{name}}</option>
            {{/file_names}}
        </select>
        <div class="learning-materials-error">
            <p class="warning-learning-material pageerror text-small hidden">{{#str}}learning_material_page_error, block_disealytics {{/str}}</p>
            <p class="warning-learning-material nodocumentselectederror text-small hidden">{{#str}}learning_material_no_document_selected_error, block_disealytics {{/str}}</p>
            <p class="warning-learning-material negativepageerror text-small hidden">{{#str}}learning_material_negative_page_error, block_disealytics {{/str}}</p>
            <p class="warning-learning-material lastpagezeroerror text-small hidden">{{#str}}learning_material_page_zero_error, block_disealytics {{/str}}</p>
            <p class="warning-learning-material pageoverflowerror text-small hidden">{{#str}}learning_material_page_overflow_error, block_disealytics {{/str}}</p>
            <p class="warning-learning-material notanumbererror text-small hidden">{{#str}}learning_material_pattern_error, block_disealytics {{/str}}</p>
            <p class="warning-learning-material expenditureoftimeoverflowerror text-small hidden">{{#str}}
                learning_material_expenditure_of_time_overflow_error, block_disealytics {{/str}}
                <br></p>
        </div>
        <div style="display: grid; grid-gap: 8px;">
            <div class="grid-container">
                <label for="learning-material-currentpage">{{#str}}learning_material_current_page, block_disealytics {{/str}} </label>
                <input style="width: 50px" id="learning-material-currentpage" class="check-pattern text-small" type="number" value="1" min="1" max="1000" step="1" required>
            </div>
            <div class="grid-container">
                <label for="learning-material-lastpage">{{#str}}learning_material_last_page, block_disealytics {{/str}} </label>
                <input style="width: 50px" id="learning-material-lastpage" class="check-pattern text-small" type="number" value="1" min="1" max="1000" step="1" required>
            </div>
            <div class="grid-container">
                <label for="learning-material-expenditureoftime">{{#str}}learning_material_expenditureoftime, block_disealytics {{/str}} </label>
                <input style="width: 50px" id="learning-material-expenditureoftime" class="check-pattern text-small" type="number" value="1" min="1" max="500" step="1" required>
            </div>
        </div>
    </div>
</div>