{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_disealytics/progress_bar_modal

    Template purpose and description.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {

    }
}}

<div class="block_disealytics">
    <p>{{#str}}progress_bar_modal_intro, block_disealytics{{/str}}</p>
    <a id="block_disealytics_open-progress-bar-help-modal"
       style="color: var(--primary);">
        {{#str}}progress_bar_additional_help, block_disealytics{{/str}}
    </a>

    <hr>

    <div id="progress-bar-accordion">
        <div class="accordion-head flex-container">
            <h5>{{#str}}progress_bar_add_learning_material, block_disealytics{{/str}}</h5>
            <i id="icon-1" class="fa fa-chevron-down accordion-icon"></i>
        </div>
        <div class="accordion-content" id="content-1">
            <div id="block_disealytics-add-learning-materials">
                {{^files_left}}
                    <p class="show-when-all-learning-materials-exist">{{#str}}learning_material_all_inputs_set, block_disealytics {{/str}}</p>
                {{/files_left}}
                {{#files_left}}
                    <button id="add-learning-material-fields" class="disea-save-btn btn btn-primary">
                        <span>{{#str}}add-learning-material, block_disealytics {{/str}}</span>
                    </button>
                {{/files_left}}
            </div>
        </div>

        <hr>

        <div class="accordion-head flex-container">
            <h5>{{#str}}progress_bar_manage_learning_material, block_disealytics{{/str}}</h5>
            <i id="icon-2" class="fa fa-chevron-down accordion-icon"></i>
        </div>
        <div class="accordion-content" id="content-2">
            <div id="block_disealytics-manage-learning-materials">
                <div id="all-available-learning-materials-container" data-numberOfDocuments="{{number_of_documents}}" style="margin-bottom: 5px;">
                    {{#data}}
                       {{> block_disealytics/learning_material_content}}
                    {{/data}}
                </div>
                {{#nodata}}
                    <p class="show-when-no-learning-materials-exist">{{#str}}nodata, block_disealytics {{/str}}</p>
                {{/nodata}}
            </div>
        </div>
    </div>
</div>