{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_disealytics/view_modal

    Template purpose and description.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {

    }
}}
<div id="{{view_type}}-info-modal" class="modal fade outer-modal-{{view_type}}" data-container="block_disealytics/{{view_type}}-modal">
    <div class="modal-dialog">
        <div class="modal-content content-modal-{{view_type}}">
            <div class="modal-header">
                <h5 class="modal-title">{{#str}}modal_info_title, block_disealytics {{/str}} {{title}}</h5>
                <a class="block_disealytics-close-modal-btn" data-dismiss="modal">
                    <i class="fa fa-times"></i>
                </a>
            </div>

            <div class="modal-body">
                <div class="hide-when-expanded">
                    <p>{{{help_info_text}}}</p>
                </div>
                <div class="show-when-expanded">
                    <p>{{{help_info_text_expanded}}}</p>
                </div>
            </div>
        </div>

    </div>
</div>

<div id="{{view_type}}-remove-modal" class="modal fade" data-container="block_disealytics/{{view_type}}-remove-modal">
    <div class="modal-dialog">
        <div class="modal-content content-remove-modal-{{view_type}}">
            <div class="modal-header">
                <h5 class="modal-title">{{#str}}modal_remove_title, block_disealytics {{/str}}</h5>
                <a class="block_disealytics-close-modal-btn" data-dismiss="modal">
                    <i class="fa fa-times"></i>
                </a>
            </div>

            <div class="modal-body">
                <p>{{#str}}modal_remove_text_1, block_disealytics {{/str}} <strong>{{title}}</strong> {{#str}}modal_remove_text_2, block_disealytics {{/str}} </p>
                <div class="goal-btn-container">
                    <button class="disea-cancel-btn btn btn-secondary" data-dismiss="modal">{{#str}}modal_remove_cancel, block_disealytics {{/str}}</button>
                    <button class="disea-delete-btn btn btn-danger dashboard-button block_disealytics-delete-btn block_disealytics-delete-btn-{{view_type}}"
                            data-dismiss="modal"
                            data-action="block_disealytics/remove-{{view_type}}">
                        {{#str}}modal_remove_check, block_disealytics {{/str}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
